*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;

}

body{

background:#111;
color:white;

}

header{

display:flex;
justify-content:space-between;
padding:20px;
background:#000;

}

header h1{

color:#00ffcc;

}

input{

padding:10px;
width:250px;

}

.banner{

height:300px;

display:flex;
justify-content:center;
align-items:center;
flex-direction:column;

background:linear-gradient(90deg,#00f,#0ff);

}

.banner h2{

font-size:50px;

}

.produtos{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

padding:40px;

}

.card{

background:#1e1e1e;

border-radius:15px;

padding:20px;

text-align:center;

transition:.3s;

}

.card:hover{

transform:scale(1.05);

box-shadow:0 0 20px cyan;

}

.card img{

width:100%;

height:180px;

object-fit:cover;

border-radius:10px;

}

button{

margin-top:15px;

padding:12px;

width:100%;

background:#00ffcc;

border:none;

cursor:pointer;

font-size:18px;

}

button:hover{

background:#00ccaa;

}

#carrinho{

position:fixed;

right:20px;

bottom:20px;

background:#000;

padding:20px;

border-radius:15px;

}

footer{

padding:30px;

text-align:center;

background:#000;

margin-top:40px;

}